.App {
  text-align: center;
}






.search-form{
  background-color: whitesmoke;
  max-width: 1300px;
  margin: 0 auto;
  padding: 1em 0;

  border-radius: 10px;
  box-shadow: 2px 2px 10px grey inset;
  font-size: 1.5em;
}

.search-form input, select{
  border-radius: 4px;
  border: 1px solid black;
  text-align: center;
  padding: 0.1em;
  margin: 0.2em;
}

.search-form input[type="text"]{
  width: 90%;
}






.file-drop{
  max-width: 1300px;
  margin: 1em auto;
  text-align: center;
}

.file-drop input{
  margin: 0.5em auto;
}







.content{
  padding: 1em;
  max-width: 1300px;
  margin: 1em auto 0;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 2px 2px 10px grey inset;
}



.title-tiles{
  max-width: 1100px;
  margin: 1em auto;
}

.title-card{
  display: inline;
  padding: 4px;
  margin: 0.5em;
  background-color: rgb(204, 204, 204);
  border-radius: 5px;
  
  cursor: pointer;
}

.title-card:hover{
  animation-name: hover-emphasis;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes hover-emphasis{
  from{
    box-shadow: 0 0 0 rgb(95, 95, 95);
  }
  to{
    box-shadow: 2px 2px 10px rgb(95, 95, 95);
  }
}


.topic-card{
  max-width: 1100px;
  margin: 1.5em auto;
  box-shadow: 2px 2px 10px grey; 
  border-radius: 10px;
  padding: 1em;
  text-align: left;
  background-color: white; 
}


